.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}

.menu-container .toggler{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;
}

.menu-container .burger{
    position: absolute;
    top: 10;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-container .burger > div{
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
}
/**ryas arribabajo**/
.burger div::before, .burger div::after {
     content: ''; 
     position: absolute; 
     width: 100%;
     height: 2px; 
     background-color: white; 
     transition: all 0.4s ease; }
.burger div::before { top: -10px; }
.burger div::after { top: 10px; }

/**animacion**/
.menu-container .toggler:checked + .burger > div{
    transform: rotate(135deg);
}

.menu-container .toggler:checked + .burger > div::before,
.menu-container .toggler:checked + .burger > div::after{
    top: 0;
    transform: rotate(90deg);
}
.menu-container .toggler:checked:hover + .burger > div{
    transform: rotate(500deg);
}
/***/
.menu-container .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-container .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: 0.75s;
}
.menu-container .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease 0.4s ;
}
.menu-container .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/**termino**/
.menu-container .menu > div{
    background: rgba(9, 9, 9, 0.95);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    flex: none;
}
.menu-container .menu > div > div>{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-container .menu > div > div > ul > li{
    color: white;
    list-style: none;
    font-size: 1.5rem;
    padding: 1.1rem;
}
.menu-container .menu > div > div > ul > li > a{
    color: white;
    text-decoration: none;
    transition: color 0.4s ease;
}
.menu-container .menu > div > div > ul > li > a:hover{
    color: red;
}
